body {
  background-color: white;
  margin: auto;
  width: 70%;
  max-width: 1,000px;
  min-width: 300px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

h1 {
  color: black;
  font-size: 65px;
  font-weight: 450;
  text-align: center;
}

h2 {
  color: black;
  font-size: 45px;
  font-weight: 450;
  line-height: 20px;
  text-align: center;
}

h3 {
 color: black;
 font-size: 25px;
 font-weight: 450;
 text-align: center;


}

.headshot {
  width: 60%;
  min-width: 100px;
  text-align: center;
  image-orientation: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-content: center;
}

.block {
  padding-top: 1px;
  padding-bottom: 10px;
}

  /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

p {
  font-size: 20px;
}

li {
  font-size: 17px;
  line-height: 20px;
}

.resume_btn{
  background:black;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:.80em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

.resume_btn:hover{
  background:#fff;
  color:black;
}

.resume_btn:before,.resume_btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: black;
  transition:400ms ease all;
}

.resume_btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.resume_btn:hover:before,.resume_btn:hover:after{
  width:100%;
  transition:800ms ease all;
}

.resume_btn:focus{
  outline: 0;
}

.gallery {
  width: 90%;
  align-content: center;
}

.sea {
  width: 85%;
  align-content: center;
}

/*Social Media Icons*/
.btn{
  font-size: 30px;
  padding: 0px;
  margin-right: 15px;
  align-content: center;
  align-self: center;
  align-items: center;
}

.fa:hover {
  opacity: 0.7;

.fa-facebook{
  color: Black;
  outline: none;
  align-items: center;
}

.fa-snapchat{
  color: Black;
  align-items: center;
}

.fa-linkedin{
  color: black;
  align-items: center;
}

.fa-instagram{
  color: Black;
  align-items: center;
}

.social_media_icons {
  align-self: center;
  align-content: center;
}
