body {
  background-color: white;
  margin: auto;
  width: 70%;
  max-width: 1,000px;
  min-width: 300px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

h1 {
  color: black;
  font-size: 60px;
  font-weight: 450;
  text-align: center;
}

h2 {
  color: black;
  font-size: 27px;
  font-weight: 450;
  line-height: 15px;
  text-align: center;
}

.headshot {
  width: 57%;
  min-width: 100px;
  text-align: center;
  image-orientation: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.block {
  padding-top: 1px;
  padding-bottom: 10px;
}

  /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

p {
  font-size: 20px
}

.resume_btn{
  background:black;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:.75em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}

.resume_btn:hover{
  background:#fff;
  color:black;
}

.resume_btn:before,.resume_btn:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: black;
  transition:400ms ease all;
}

.resume_btn:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

.resume_btn:hover:before,.resume_btn:hover:after{
  width:100%;
  transition:800ms ease all;
}

.resume_btn:focus{
  outline: 0;
}


#name{
		  font-size: 15rem;
	    text-align: center;
      height:90vh;
      line-height: 90vh;
	    color: #fcedd8;
	    background: #d52e3f;
	   	font-family: 'Niconne', cursive;
	    font-weight: 700;
      text-shadow: 5px 5px 0px #eb452b,
                  10px 10px 0px #efa032,
                  15px 15px 0px #46b59b,
                  20px 20px 0px #017e7f,
                  25px 25px 0px #052939,
                  30px 30px 0px #c11a2b,
                  35px 35px 0px #c11a2b,
                  40px 40px 0px #c11a2b,
                  45px 45px 0px #c11a2b;
}

p{
    text-align: center;
    font-family: "Helvetica";
    font-size:0.8rem;
}

a{
    color: #d52e3f;
    text-decoration: none;
    font-family: 'Niconne', cursive;
    font-size: 1.2rem;

}
