body {
  margin: auto;
  width: 70%;
  max-width: 1,000px;
  min-width: 300px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

h1 {
  color: black;
  font-size: 50px;
  font-weight: 400;
}

h2 {
  color: black;
  font-size: 22px;
  font-weight: 400;
  line-height: 15px;
}

#headshot {
  width: 70%;
  min-width: 100px;
  text-align: center;
  image-orientation: center;
}

.block {
  padding-top: 1px;
  padding-bottom: 10px;
}

.Name{
	text-align: center
	}

  /* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
